@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Outfit:wght@300;400;500;600;700&family=Platypi:wght@700&display=swap');
@import 'tailwindcss';



* {
  font-family: var(--font-body);
  box-sizing: border-box;
}

body {
  background: #fdf2f8;
  overscroll-behavior: none;
}

::-webkit-scrollbar { display: none; }
